/* Recipe Form Styling */
.recipe-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
  padding: 2rem;
}

.recipe-title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.alert {
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.75rem 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-content {
  width: 100%;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

  .form-input:focus,
  .form-textarea:focus {
    border-color: #007bff;
    outline: none;
  }

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-check-input {
  margin-right: 0.5rem;
}

.form-check-label {
  font-size: 1rem;
  color: #333;
}

.image-upload {
  text-align: center;
  margin-bottom: 1.5rem;
}

.image-upload-label {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 0.5rem;
  display: block;
}

.image-preview {
  margin-top: 0.5rem;
}

.preview-image {
  max-width: 100%;
  border-radius: 10px;
}

.file-input {
  display: block;
  margin-top: 0.5rem;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
  display: block;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

  .submit-button:hover {
    background-color: #0056b3;
  }

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .recipe-form {
    padding: 1rem;
  }

  .recipe-title {
    font-size: 1.5rem;
  }

  .submit-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}
